$sidebar-bg: #232327;
$sidebar-color: #fff;
$sidebar-accent-color: #828499;
$sidebar-darker-bg: darken($sidebar-bg, 5%);

$base-color: #222;
$base-bg: #fff;

$code-bg: #f6f6f6;
$code-color: #444;

$quote-bg: #ebf5ff;
$quote-color: #444;

$avatar-border: #aaa;

$timestamp-color: #999;

$link-color: #007bcd;
$link-hover-color: #09f;

$edited-message-bg: #006bb3;
$edited-message-color: #fff;

$deleted-message-bg: #b30011;
$deleted-message-color: #fff;
