.page {
    display: flex;
    min-width: 40em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 18em;
}

.messages {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 18em;
    overflow-y: auto;
    width: calc(100% - 18em);
}
