.page {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 18em;
}

.messages {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    padding: 0.5rem 1rem 0.5rem 18em;
}
