.page {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    // max-width: 18rem;
    // min-width: 15rem;
    width: 25%;
    position: fixed;
    height: 100vh;
}

.messages {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.5rem 1rem 0.5rem 25%;
}
