@import "sizes";

.loading-circle {
    background-color: rgba(120,120,120,0.2);
    border: $loader-size/10 solid rgba(120,120,120,0.75);
    opacity: 0.9;
    border-top: $loader-size/10 solid rgba(120,120,120,0);
    border-left: $loader-size/10 solid rgba(120,120,120,0);
    border-radius: $loader-size/2;
    box-shadow: 0 0 $loader-size/2 rgba(120,120,120,0.6);
    width: $loader-size;
    height: $loader-size;
    margin: calc(50vh - #{$loader-size/1.75}) auto 0;
    -moz-animation: spin 1s infinite linear;
    -webkit-animation: spin 1s infinite linear;
    -o-animation: spin spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}