@import "colors";
@import "sizes";

.message-container {
    padding: 0.5em 0 0 1em;

    &.detail {
        padding-top: 1.5em;
    }
}

.load-older {
    background-color: $sidebar-accent-color;
    color: $sidebar-color;
    cursor: pointer;
    height: 1em;
    letter-spacing: 0.1em;
    line-height: 1em;
    margin-bottom: 1em;
    padding: 1rem 1rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.33s;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        background-color: lighten($sidebar-accent-color, 10%);
        letter-spacing: 0.25em;
    }

    &::after {
        background-color: lighten($sidebar-accent-color, 10%);
        content: "LOADING…";
        display: block;
        height: 2.5em;
        line-height: 3em;
        opacity: 0;
        position: relative;
        top: -2em;
        transition: opacity 0.33s;
        width: 100%;
    }

    &.loading::after {
        opacity: 1;
    }
}

.avatar {
    border-radius: 0.25rem;
    float: left;
    height: $avatar-size;
    opacity: 0.9;
    transition: opacity 0.33s;
    width: $avatar-size;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.info-text {
    font-weight: 300;
    margin-top: calc(50vh - 2.5em);
    text-align: center;

    a {
        color: $link-hover-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 0 0.5rem;

    .message-header {

        .author,
        .timestamp {
            display: inline-block;
            white-space: nowrap;
        }

        .author {
            font-weight: bold;
        }

        .timestamp {
            font-size: 0.85em;
            font-weight: 300;

            a {
                color: $timestamp-color;
            }
        }

        a {
            color: $base-color;
            text-decoration: none;

            &.message-channel-link {
                color: $timestamp-color;
                font-size: 0.85em;
                font-weight: 300;
            }

            &:hover,
            &:focus {
                color: $link-hover-color;
                text-decoration: underline;
            }
        }

        .message-flag {
            padding: 0.25em 0.33em;
            border-radius: 0.25em;
            font-weight: bold;
            font-size: 0.8em;
            text-transform: uppercase;
            cursor: default;
            border: 0.1em solid transparent;
        }

        .message-flag {
            &.edited {
                background: $edited-message-bg;
                border-color: darken($edited-message-bg, 5%);
                color: $edited-message-color;
            }

            &.deleted {
                background: $deleted-message-bg;
                border-color: darken($deleted-message-bg, 5%);
                color: $deleted-message-color;
            }
        }
    }

    .message-content {
        line-height: 1.75em;

        .emoji {
            display: inline-block;
            height: $emoji-size;
            vertical-align: middle;
            width: $emoji-size;
        }

        code,
        pre {
            background-color: $code-bg;
            border: 1px solid darken($code-bg, 5%);
            color: $code-color;
            font-family: monospace;
            padding: 0.25em;
        }

        pre {
            overflow-x: auto;
        }

        blockquote {
            background-color: $quote-bg;
            border: 1px solid darken($quote-bg, 5%);
            color: $quote-color;
            font-style: italic;
            padding: 0.25em;
        }

        .indent {
            border-left: 0.3em solid $indent-line;
            padding-left: 1em;
        }

        a,
        a:link {
            color: $link-color;
            text-decoration: none;
        }

        a:hover {
            color: $link-hover-color;
            text-decoration: underline;
        }

        a:visited {
            color: mix($link-color, $base-bg, 60%);
        }
    }

    &.detail {
        flex-direction: column;

        .message-header {
            border-right: 0;
            line-height: 1.2em;
            text-align: left;
            width: 100%;

            .message-header-text {
                margin-left: $avatar-size + 1rem;
            }
        }

        .message-content {
            padding: 1em 0;
        }
    }
}
