@import "colors";

.filter {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;

    .search {
        background-color: $sidebar-bg;
        border: 1px solid $sidebar-accent-color;
        color: $sidebar-accent-color;
        font-family: monospace;
        margin: 0.5rem 0;
        padding: 0.5rem;
        transition: all 0.33s;
        width: 100%;

        &:focus {
            background-color: $sidebar-darker-bg;
        }
    }

    label {
        color: $sidebar-accent-color;
        cursor: pointer;
        transition: all 0.15s;

        &:hover {
            color: lighten($sidebar-accent-color, 10%);
        }
    }

    .submit-button {
        text-align: right;

        button {
            background-color: $sidebar-bg;
            border: 1px solid $sidebar-accent-color;
            color: $sidebar-accent-color;
            cursor: pointer;
            letter-spacing: 0.1em;
            overflow: hidden;
            padding: 0.5rem 0.75rem;
            position: relative;
            text-transform: uppercase;
            top: -2.5rem;
            transition: all 0.33s;
            white-space: nowrap;
            width: 7rem;

            .icon {
                display: inline-block;
                font-weight: bold;
                margin-right: 0.5em;
                transform: rotate(45deg);
            }

            &:hover,
            &:active {
                background-color: $sidebar-accent-color;
                color: $sidebar-color;
                letter-spacing: 0.25em;
            }
        }
    }
}
