@import "colors";

.sidebar {
    background: $sidebar-bg;
    border-right: 0.1rem solid $sidebar-darker-bg;
    color: $sidebar-color;

    .logo {
        padding: 1rem 1rem 0.5rem;
        font-size: 1.5em;

        a {
            color: $sidebar-color;
            text-decoration: none;
            outline: none;

            &:hover {
                color: $sidebar-color;
            }
        }
    }

    h3 {
        color: $sidebar-accent-color;
        padding: 0.5rem 0 0 1rem;
    }
}
