@import "colors";

.sidebar {
    background: $sidebar-bg;
    border-right: 0.1rem solid $sidebar-darker-bg;
    color: $sidebar-color;
    display: flex;
    flex-direction: column;

    .logo {
        font-size: 1.5em;
        font-weight: normal;
        padding: 1rem 1rem 0;
    }

    .logo-link {
        color: $sidebar-color;
        outline: none;
        text-decoration: none;

        &:hover {
            color: $sidebar-color;
        }
    }

    h3 {
        color: $sidebar-accent-color;
        padding: 0.5rem 0 0 1rem;
    }
}
